# TITLE_POINTWITHINPOLYGON

In [5]:
import geopandas as gp

In [130]:
tbl= gp.read_file("C:\\Users\SheuliMolla\Desktop\DEV LEAGUE\GEOSPATIAL DATA\spatial_OAHU\soilmu_a_hi990.shp")

In [131]:
type (tbl)

geopandas.geodataframe.GeoDataFrame

In [132]:
tbl.columns

Index(['AREASYMBOL', 'SPATIALVER', 'MUSYM', 'MUKEY', 'geometry'], dtype='object')

In [133]:
tbl.geometry.name

'geometry'

In [134]:
tbl= tbl.rename(columns={'geometry': 'polygon'}).set_geometry('polygon')

In [135]:
tbl.geometry.name

'polygon'

# Table header

In [136]:
tbl.head ()

,AREASYMBOL,SPATIALVER,MUSYM,MUKEY,polygon
0,HI990,2,KuD,468440,POLYGON ((-158.0759985289648 21.45443905267337...
1,HI990,2,JaC,468401,"POLYGON ((-157.7540751010808 21.4561554956124,..."
2,HI990,2,WaA,468510,POLYGON ((-157.9827233667245 21.45578937697503...
3,HI990,2,KyB,468442,POLYGON ((-158.0655032115006 21.45632062218367...
4,HI990,2,EwC,468388,"POLYGON ((-158.121358371643 21.45617209560221,..."

## Representative Points are guarunteed to be within polygons

In [142]:
tbl.representative_point()[0]

In [143]:
print (tbl.representative_point()[0])

POINT (-158.0703468125515 21.45453008098679)

# Designating polygons and points from table

In [144]:
poly0=tbl.polygon[0]

In [147]:
p0=tbl.representative_point()[0]

In [146]:
print (tbl.representative_point()[0])

POINT (-158.0703468125515 21.45453008098679)

In [149]:
poly1=tbl.polygon[1]

In [150]:
p1=tbl.representative_point()[1]

# Test if point is within polygon (from representative point)

In [148]:
p0.within(poly0)

True

In [151]:
p1.within(poly1)

True

In [152]:
p0.within(poly1)

False

In [153]:
p1.within(poly0)

False

## Joining http://geopandas.org/mergingdata.html

# Test if polygons are valid shapes

In [74]:
tbl.is_valid

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
        ...
3976    True
3977    True
3978    True
3979    True
3980    True
3981    True
3982    True
3983    True
3984    True
3985    True
3986    True
3987    True
3988    True
3989    True
3990    True
3991    True
3992    True
3993    True
3994    True
3995    True
3996    True
3997    True
3998    True
3999    True
4000    True
4001    True
4002    True
4003    True
4004    True
4005    True
Length: 4006, dtype: bool